---
import MainLayout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import ImageShowcase from '../components/ImageShowcase.astro';
---

<MainLayout title="Tarsier Digital Solutions">
  <div class="flex flex-col min-h-[40vh]">
    <Header />
    <Hero />
  </div>
  <ImageShowcase />
</MainLayout>