<section class="hero p-8 pr-[50px] text-left max-w-[40%] ml-auto text-white flex flex-col">
    <p class="font-league-spartan mb-5 leading-tight text-2xl font-bold">
      Welcome to Tarsier's Digital Marketing Services. We specialize in creating impactful social media strategies, engaging videos, and comprehensive CRM automation to help your business grow.
    </p>
    <button class="btn bg-white text-black hover:bg-gray-100 font-frankfurter-medium border-none rounded-full mt-4">Contact Us</button>
</section>