---
interface Image {
    src: string;
    alt: string;
}

const images: Image[] = [
    { src: "/src/images/camera1.webp", alt: "Professional Camera" },
    { src: "/src/images/camera_lens.jpeg", alt: "Camera Lens" },
    { src: "/src/images/beach.jpeg", alt: "Landscape Photography" },
    { src: "/src/images/streetphoto.webp", alt: "Street Photo" },
];
---

<section class="w-full overflow-hidden">
    <div class="flex justify-between gap-5 p-5">
        {images.map((image) => (
            <img
                src={image.src}
                alt={image.alt}
                class="w-1/4 h-[400px] object-cover rounded-lg"
            />
        ))}
    </div>
</section>