---
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/league-spartan';
import '@fontsource/schoolbell';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <ViewTransitions />
    <style is:global>
        @font-face {
            font-family: 'Frankfurter Highlight';
            src: url('/src/fonts/frankfurter-highlight.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Frankfurter Medium';
            src: url('/src/fonts/frankfurter-medium.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
		.tarsier-cloudy-background {
			background: 
				radial-gradient(circle at 50% 50%, rgba(245, 245, 240, 0.7) 0%, rgba(245, 245, 240, 0) 70%),
				radial-gradient(circle at 80% 20%, rgba(255, 182, 193, 0.5) 0%, rgba(255, 182, 193, 0) 70%),
				radial-gradient(circle at 20% 80%, rgba(255, 218, 185, 0.5) 0%, rgba(255, 218, 185, 0) 70%),
				linear-gradient(to right, #dbc4a0, #ffb6c1, #cdc286);
			background-size: 100% 100%;
		}
    </style>
</head>
<body>
    <div class="tarsier-cloudy-background min-h-screen">
        <slot />
    </div>
</body>
</html>