---
import { ViewTransitions } from 'astro:transitions';

interface Props {
    title: string;
}

const { title } = Astro.props;
---

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <link href="https://fonts.googleapis.com/css2?family=Schoolbell&family=League+Spartan:wght@400;700&display=swap" rel="stylesheet">
    <ViewTransitions />
    <style is:global>
        @font-face {
            font-family: 'Frankfurter Highlight';
            src: url('/src/fonts/frankfurter-highlight.otf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        @font-face {
            font-family: 'Frankfurter Medium';
            src: url('/src/fonts/frankfurter-medium.ttf') format('opentype');
            font-weight: normal;
            font-style: normal;
            font-display: swap;
        }
        .custom-gradient {
            background: linear-gradient(to right, #f8eed8, #e0c9a6, #edb5aa, #ffb3f2, #f7d3b5);
        }
    </style>
</head>
<body class="custom-gradient bg-fixed text-gray-800">
    <slot />
</body>
</html>